<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <link rel="stylesheet" href="css/userDashboard.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>

    <!-- Sidebar Holder -->

    <!-- Page Content Holder -->
   
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img class="nav-logo" src="assets/images/logo.png">



                <button class="btn btn-light d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i>&#9776;</i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <!-- <form action="/logout" method="POST"> -->
                                <a class="nav-link" href="/userDashboard">HOME</a>
                            <!-- </form> -->
                        </li>
                        <li class="nav-item active">
                            
                            <a class="nav-link" href="#">PROFILE</a>
                       
                    </li>
                        <li class="nav-item">
                            <!-- <form action="/logout" method="POST"> -->
                                <a class="nav-link" href="/logout">LOGOUT</a>
                            <!-- </form> -->
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div id="content">

        <div class="container">

            <form class="row" action='/updateUserDetails' method="POST">

                <div class="card-body">
                    <h1 id="head_title" class="mb-4">Profile</h1>
                    <div class="row mb-3">
                        
                        <div class="col-sm-3">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <h5 class="font-weight-normal" style="display: ;"><%=user.name%></h5>
                            <input type="text" style="display: none;" name="name" value="<%=user.name%>" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <h5 class="font-weight-normal" style="display: ;"><%=user.email%></h5>
                            <input disabled type="text" style="display: none;" value="<%=user.email%>"  class="form-control">
                        </div>
                    </div>
      <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Age</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <h5 class="font-weight-normal" style="display: ;"><%=user.age%></h5>
                            <input type="text" style="display: none;" name="age" value="<%=user.age%>" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <h5 class="font-weight-normal" style="display: ;"><%=user.phone%></h5>
                            <input type="text" style="display: none;" name="phone" value="<%=user.phone%>" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <h5 class="font-weight-normal" style="display: ;"><%=user.address%></h5>
                            <input type="text" style="display: none;" name="address" value="<%=user.address%>" class="form-control">
                        </div>
                    </div>
                    
      
      <br>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            <button type="submit" id="submit_btn" class="btn btn-primary px-4" style="display: none;" >Save Changes</button>
                        </div>
                    </div>
                </div>

            </form>
                
            <i onclick="editFunction()" class='far fa-edit' style='font-size:36px'></i>
        </div>

        </div>
    </div>


<script>
     function editFunction(){

// document.getElementById('edit').onclick = function() {

        console.log("function called");

    const collection = document.getElementsByClassName("font-weight-normal");
    for (let i = 0; i < collection.length; i++) {
    collection[i].style.display = "none";
    }
    const collection_input = document.getElementsByClassName("form-control");
    for (let i = 0; i < collection_input.length; i++) {
    collection_input[i].style.display = "";
    }
    
    document.getElementById('submit_btn').style.display='';
    document.getElementById('head_title').innerHTML='Update Profile';


    }
</script>



</div>
</body>
<br><br>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>


    <!---->
    </ <!---->

    <%- include('footer') %>



</html>
